*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
background-color: rgb(10, 10, 10);
justify-content: space-between;
padding: 10px;
display: flex;
align-items: center;
margin: 0px;
margin-left: 0px;
border: 5px solid black;
}
header img {
    padding: 0;
    display: flex;
    justify-content: space-between; 
    padding-left: 0px ;
}
 nav{
    overflow: hidden;
 }
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
 }
 nav li{
    float: right;
    margin-top: 0px;
    margin: 10px;
 }

 nav li a {
    background-color:rgb(99, 0, 0) ;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 100px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:0 2px 5px black;
    transition: all 0.3s ease;
}
nav li a:hover {
    background-color: rgb(25, 0, 0);
    box-shadow: 0 4px 8px black;
    transform: translateY(2px);
}
body{
    background-image:url(../img/fondo.png);
    background-repeat: none;
    background-size: 100%;

    margin: 0;
    padding: 0;
    flex-direction: column;
}

.todo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0px;
    margin: 0px;
}
.poster {
    width: 80%;
    height:auto;
}
.sinopsis {
    font-family: "nunito";
    color: white;
    position: absolute;
    left: 600px;
    bottom: 700px;
    font-size: 20px;
}
.trailer {
 position: absolute;
 top: 350px;
 right:300px;
}
h1 {
    color: white;
    font-family: "nunito";
}














footer {
    background-color: #0d0d0d;
    color: white;
    padding: 20px;
    bottom: 0;
    width: 100%;
    text-align: right;
    position: absolute;
  }
  
  footer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #ccc;
  }

  .mail {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  .mail img {
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 50px;
    position: absolute;
    left: 80px;
    top: 7px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    filter: invert(90%);
  }
  .mail img:hover {
    transform: scale(1.2);
  }
  .celu {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  .celu img {
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 50px;
    position: absolute;
    left: 204px;
    top: 7px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    filter: invert(90%);
  }
  .celu img:hover {
    transform: scale(1.2);
  }
  .insta {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  .insta img {
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 50px;
    position: absolute;
    left: 320px;
    top: 7px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    filter: invert(90%);
  }
  .insta img:hover {
    transform: scale(1.2);
  }






















@media only screen and (min-width: 1200px) {
    header {
        padding-left: 5%;
        padding-right: 5%;
    }
    nav ul {
        padding-left: 0;
    }
    nav li {
        margin: 0 10px;
    }
    nav li a {
        padding: 12px 50px;
    }

      }
    
@media only screen and (max-width:1199px) and (min-width: 768px) {
        header {
            padding-left: 5%;
            padding-right: 5%;
        }
        nav ul {
            padding-left: 0;
        }
        nav li {
            margin: 0 10px;
        }
        nav li a {
            padding: 12px 30px;
        }
        
    }
    
@media only screen and (max-width: 767px) {
        header {
            padding-left: 5%;
            padding-right: 5%;
        }
        nav ul {
            flex-direction: column;
            align-items: center;
        }
        nav li {
            margin: 10px 0;
        }
        nav li a {
            padding: 12px 20px;
        }
      }